@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.about {
    min-height: 90vh;
    min-width: 92vw;
    padding: 10vh 0vh 0vh 0vh;
    justify-content: center;
}

.about > h2 {
    color: #8892B0;
    font-size: 7vh;
}

.matter {
    display: flex;
    flex-direction: row;
    padding: 2vh 15vh;
    justify-content: center;
}

.about .matter .desc > p {
    text-align: left;
    color: #CCD6F6;
    padding-right: 10vh;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    width: 40vw;
    /* padding: 20vh; */
}

@media only screen and (max-width: 650px) {
    .matter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

