.achievements {
    min-height: 94vh;
    min-width: 100vw;
    /* justify-content: center; */
    /* padding: 40px; */
}

.achievements > h2 {
    justify-self: center;
    justify-content: center;
    color: #8892B0;
    font-size: 7vh;
}

.achievements__cards {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

/* .achievements__cards {
    /* display: flex; */
    /* flex-direction: row; */
    /* padding: 15vh; */
    /* margin-right: 10vh; */
    /* margin-left: 10vh; */
    /* justify-content: center; */
/* } */