.email {
    position:absolute;
    right:0;
    bottom:0;
    margin-bottom: 40px;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    /* content: 'vaibhavilokegaonkar'; */
    /* rotate: -90deg; */
    transform: rotate(90deg);
    transform-origin: right bottom;
}

.email > a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #45B09F;
}

a::after {
    color: #fff;
}