.email {
    position:absolute;
    right:0;
    bottom:0;
    margin-bottom: 60px;
    margin-right: 70px;
    font-size: 2vw;
    color: white;
    /* content: 'vaibhavilokegaonkar'; */
    /* rotate: -90deg; */
    transform: rotate(90deg);
    transform-origin: right bottom;
}