.experience {
    height: fit-content;
    width: fit-content;
}

.experience > h2 {
    justify-self: center;
    color: #8892B0;
    font-size: 7vh;
}

.experience > h3 {
    float: left;
    color: #8892B0;
    font-size: 7vh;
}

.experience__cards {
    display: flex;
    flex-direction: row;
    /* padding: 15vh; */
    flex-flow: wrap;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-right: 10vh; */
    /* margin-left: 10vh; */
    justify-content: center;
}