@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.intro {
    min-height: 100vh;
    min-width: 100%;
    /* padding-top: 50px; */
}

.first__intro {
    padding-top: 30vh;
    justify-content: center;
}

.first__intro__content {
    padding-left: 20vw;
    text-align: left;
}

.greeting {
    color: #45B09F;
    padding-bottom: 1vh;
    font-size: 3vw;
}

.myName {
    color: #CCD6F6;
    font-family: 'Poppins', 'sans-serif';
    font-size: 6vw;
}

.whoami {
    color: #8892B0;
    font-family: 'Poppins', 'sans-serif';
    font-size: 5vw;
    line-height: 4vw;
}

