.skills > h2 {
    font-size: 6vh;
}

.skills > h3 {
    font-size: 3vh;
}

.skills {
    justify-self: center;
    padding-top: 10px;
    color: #8892B0;
    font-size: 2vh;
    height: 94vh;
    width: 96vw;
}